* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 80px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #2c3e50;
}

button {
    background: #fff;
    color: #2c3e50;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 6vh;
}

button:hover {
    background: #2c3e50;
    color: #fff;
    border: 1px solid #fff;
}